@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Sora:wght@100..800&display=swap');

/* Styguilde  */
:root {
  --brand-color-pink: #f67acb;
  --gray-color-50: #e6ebf2;
  --gray-color-100: #050110;
  --gray-color-200: #1c1d1f;
  --gray-color-300: #393c40;
  --gray-color-400: #5c6066;
  --gray-color-800: #f7f8fa;
  --white-color-text: rgba(255, 255, 255, 0.7);
  --white: #ffffff;
  --gray: #acb4bf;
}

/* Imagem responsiva */
img {
    max-width: 100%;
    display: block;
}
  
/* Define a fonte padrão como 10px - 1rem */
html {
    font-size: 62.5%;
}

h1 {
    color: var(--gray-color-800);
    font-family: 'Sora';
}

h2{
  
}


.container{
  width: 100px;
  max-width: 111rem;
  margin: 0 auto;
  padding: 0 15px;
}